*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "roboto", sans-serif;

} 
.button {
    background-color: #149f39;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    opacity: 0.8;
    transition: background-color 0.3s ease;
}

nav{
    box-shadow: 5px 5px 10px rgba(1,1,1,0.5);
    position: sticky;
    top:0%;
    margin-bottom: 32px;
    background-color: white;
    padding: 10px;
    z-index: 50;

}

/* Navigation  */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.bar_icon {
    font-size: 24px;
}
.hero {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
.hero_content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 20px;
}
.tag{
    font-size: 20px;
    color: #ff6b6b;
    font-weight: 600;
    background-color: #149f39;
    padding: 5px 10px;
    align-self: start;
}
.hero_content h1 {
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}
.explore button {
    background: aqua;
}
.feature{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px ;
    gap: 20px;
    justify-content: center;
}
.feature{
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}
.feature:hover {
    transform: 0.2s ease-in-out;
    box-shadow: 5px 5px 10px rgba(1,1,1,0.5);
}
.divider {
   border: 1px solid #ccc;
   margin: 20px 0;
}
/* Menu Section */

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px 0;
}
.menu .tag{
    align-self: center;
}
.grid{
    display: grid;
    gap: 20px;
    grid-template-areas: "I1 I1 I2 I3"
                         "I1 I1 I2 I7"
                        "I4 I5 I6 I7";
}
.grid-image{
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.grid-image :hover{
   transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero_image{
        display: flex;
        justify-self: center;
    }
    .hero_image img{
        width: 100%;
        height: auto;
    }
    .hero_content h1 {
        font-size: 32px;
        line-height: 1.2;
    }
    .hero_content p {
        font-size: 18px;
    }
    .hero_content {
        align-items: center;
        gap: 10px;
        padding: 10px;
    }
    .tag {
        font-size: 16px;
    }
    .feature {
        flex-direction: column;
        align-items: center;
    }
    
}